main {
	text-align: center;
}

#blue.home h1 {
	margin: 0 20%;
	margin-top: 100px;
}

#blue h2 {
	margin: 0 10%;
	margin-bottom: 100px;
	margin-top: 5%;
}

#top-paragraph {
	padding: 10%;
}

article,
#lower {
	padding: 0 18%;
}

article {
	background-image: url("assets/images/bg.png");
	padding: 0 18%;
	padding-bottom: 10%;
	padding-top: 10%;
}

.article-headings {
	margin-top: 20%;
}

#lower {
	padding: 12%;
}

#lower h2 {
	margin-top: 0;
}

button {
	background-color: #00AFC4;
	border: none;
	padding: 25px 15px;
	color: #eee;
	margin-top: 10%;
}

#top-paragraph,
#lower {
	background-color: #fcfcfc;

}

#content {
	display: none;
}

@media (min-width: 400px) {
/*	div img {
	visibility: hidden;
}*/
}

@media (min-width: 600px) {
	#content {
		display: block;
		width: 30%;
		height: 30%;
		padding-top: 10%;
	}

	article div {
		float: left;
		width: 50%;
		padding-right: 5%;
	}

	article {
		padding: 10%;
	}

	article h2 {
		padding-bottom: 15px;
		margin: 0;
	}

	#lower {
		padding: 72px;
	}

	#top-paragraph {
	padding: 60px;
	}

	#blue h1 {
		margin-bottom: 26px;
	}

	#blue p {
		margin-top: 0;
	}
	
}

@media (min-width: 900px) {
	#content {
		display: none;
	}

	article div {
		width: 33.3%;
		text-align: center;
		margin: 0;
		padding: 0 20px;
		overflow: auto;
	}


}













