*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

header {
	background-color: #000;
	display: block;
}

nav ul {
	margin: 0 auto;
	padding: 0;
	display: block;

}

nav li a {
 	text-decoration: none;
 	list-style-type: none;
 	text-transform: uppercase;
 	display: block;
 	text-align: center;
	
}

nav li {
 	display: block;
}

#top li a {
 	color: #eee;
 }

#bottom li a {
	color: #404040;
}

footer {
	background-image: url("assets/images/bg.png");
}

.logo a,
.logo {
	display: block;
	width: 40px;
	height: 40px;
	margin: auto;

}

@font-face {
	font-family: montserrat;
	src: url(assets/fonts/montserrat/Montserrat-Regular.ttf);
}

header,
footer {
	font-family: montserrat, sans-serif;
}

#blue {
	/* background gradient */
	background: rgba(42,185,198,1);
	background: -moz-linear-gradient(top, rgba(42,185,198,1) 0%, rgba(101,220,231,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,185,198,1)), color-stop(100%, rgba(101,220,231,1)));
	background: -webkit-linear-gradient(top, rgba(42,185,198,1) 0%, rgba(101,220,231,1) 100%);
	background: -o-linear-gradient(top, rgba(42,185,198,1) 0%, rgba(101,220,231,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,185,198,1) 0%, rgba(101,220,231,1) 100%);
	background: linear-gradient(to bottom, rgba(42,185,198,1) 0%, rgba(101,220,231,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab9c6', endColorstr='#65dce7', GradientType=0 );
	/* end background gradient */
	overflow: auto;
}

main {
	text-align: center;
	background-color: #fcfcfc
}

button.bottom {
	background-color: #00AFC4;
	border: none;
	padding: 25px 15px;
	color: #eee;
}

button.bottom a {

}

.paragraph-text,
.article-headings {
	line-height: 30px;
}

#blue h1 {
	margin-top: 100px;
	font-size: 34px;
}

#blue p {
	margin: 0 10%;
	margin-bottom: 100px;
	margin-top: 5%;
	font-size: 19px;
}
 

@font-face {
	font-family: montserrat;
	src: url(assets/fonts/montserrat/Montserrat-Regular.ttf);
}

h1,
h2,
h3,
form {
	font-family: montserrat, sans-serif;
}

@font-face {
	font-family: montserrat-thin;
	src: url(assets/fonts/montserrat/Montserrat-Thin.ttf);
	font-weight: thin;
}

button,
button a {
	font-family: montserrat-thin, sans-serif;
	color: #eee;
	text-decoration: none;
}

main #blue {
	letter-spacing: 2px;
}

#blue h1 {
	font-size: 40px;
	
}

#blue h2,
#blue div,
#blue p {
	color: #fff;
	
}

#lower h2,
article h2,
h3,
h4 {
	letter-spacing: 1px;
	font-weight: bold;
}

article h2 {
	font-size: 25px;
}

@font-face {
	font-family: domine;
	src: url(assets/fonts/domine/Domine-Regular.ttf);
}

.paragraph-text {
	font-family: domine;
	color: #5e5e5e;
	font-size: 16px;
	font-weight: lighter;
}

.uppercase {
	text-transform: uppercase;
}


/**** MEDIA QUERRIES ****/

@media (min-width: 300px) {
	nav li a {
		padding: 20px 0;
	}


}
@media (min-width: 600px) {
	.logo a,
	.logo {
		width: 60px;
		height: 60px;
		padding: 10px;
	}
	nav ul {
		height: 60px;
		margin: auto;
		text-align: center;
	}

	nav li {
		height: 60px;
		line-height: 60px;
		overflow: auto;
		display: inline-block;
	}

	#top,
	#bottom {
		margin: auto;
	}

	nav li a {
		float: left;
		padding: 0 15px;
		
	}

	#blue {
		width: 100%;
	}

	h2.content:before {
		content: "\2022   ";
	}

	h2.content:after {
		content: "   \2022";	
	}
}










